.my_navsearch_bg{
    background-color: #e5e5e5c8;
}

.fa-bell{
    color: orange;
}

.my_side_style{
    max-width: 70px;
    height: calc(100vh - 70px);
    margin-top: 70px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.fa-signal{
    font-size: 0.9rem;
}

aside a:hover{
    background-color: grey;
}

.my_main_style{
    max-width: calc(100% - 70px);
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.my_tab_center{
    text-align: center;
}

.my_fs{
    font-size: 10px;
}

.fa-code{
    padding: 10px 8px;
    background-color: #F86756;
}

tr:hover td{
    background-color: lightgrey;
}



@media screen and (min-width: 992px){
    
    .my_side_style{
        max-width: 150px;
    }

    .my_main_style{
        max-width: calc(100% - 150px);
    }

    .modal-dialog{
        width: 50%;
    }
}

    
